# Make vim the default editor
export EDITOR="nano"

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export PATH=/Users/joshh/Library/Android/sdk/tools:$PATH
export PATH=/Users/joshh/Library/Android/sdk/platform-tools:$PATH

export ANDROID_HOME=/Users/joshh/Library/Android/sdk
export ANDROID_NDK_HOME=/Users/joshh/Library/Android/android-ndk-r13

# http://stackoverflow.com/questions/22956596/objective-c-symbolication-issue-error-developer-dir-is-not-defined-at-symbo
export DEVELOPER_DIR=/Applications/Xcode.app/Contents/Developer
export PATH=/Applications/Xcode.app/Contents/SharedFrameworks/DVTFoundation.framework/Versions/A/Resources/:$PATH

# Tensorflow GPU (Cuda) 
export CUDA_HOME=/usr/local/cuda
export DYLD_LIBRARY_PATH="$DYLD_LIBRARY_PATH:$CUDA_HOME/lib"
export PATH="$CUDA_HOME/bin:$PATH"

# Kubernetes
export PATH=/Users/joshh/kubernetes/client/bin:$PATH
export KOPS_STATE_STORE=s3://clusters.k8s.joshes.io/

# Ignore stuff from serverless
export SLS_IGNORE_WARNING=1
